{% extends 'layout/profile_layout.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% load i18n %}
{% block content %}

    
    <div id="preloader" class="Fixed">
        <div data-loader="circle-side"></div>
    </div>
    <!-- /Preload-->  
    <main>
        <div class="header-video">
            <div id="hero_video">
                <div class="content">
                    <h3>Find a Doctor!</h3>
                    <p>
                        Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.
                    </p>
                    <form method="get" action="/">
                        <div id="custom-search-input">
                            <div class="input-group">
                                <input type="text" class="search-query" placeholder="Ex. Name, Specialization ....">
                                <input type="submit" class="btn_search" value="Search">
                            </div>
                            <table id="mysuggestionsselect" autocomplete="off" value="">

                                <tbody id="tbodyid"> 
                                </tbody>
                            </table>
                            <ul class='searchtype'>
                                <li class="search_keyword" onClick="searchKeyword('All')">
                                    <input type="radio" id="All" name="radio_search" value="" checked>
                                    <label for="All">All</label>
                                </li>
                                <li onClick="searchKeyword('Doctors')" class="search_keyword">
                                    <input type="radio" id="Doctors" name="radio_search" value="">
                                    <label for="Doctors">Doctors</label>
                                </li>
                                <li onClick="searchKeyword('Pharmacy')" class="search_keyword">
                                    <input type="radio" id="Pharmacy" name="radio_search" value="">
                                    <label for="Pharmacy">Pharmacy</label>
                                </li>
                                <li onClick="searchKeyword('Clinic')" class="search_keyword">
                                    <input type="radio" id="Clinic" name="radio_search" value="">
                                    <label for="Clinic">Clinic</label>
                                </li>
                                <li onClick="searchKeyword('health-insurance')" class="search_keyword">
                                    <input type="radio" id="health-insurance" name="radio_search" value="">
                                    <label for="health-insurance">Health Insurance</label>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
            <img src="/static/html_menu_1/img/video_fix.png" alt="" class="header-video--media" data-video-src="video/intro" data-teaser-source="video/intro" data-provider="" data-video-width="1920" data-video-height="750">
        </div>
        <!-- /Header video -->
        <div>
            <span id="mysuggestions"></span>

        </div>
        <div class="container margin_120_95">
            <div class="main_title">
                <h2>Find by specialization</h2>
                <p>Nec graeci sadipscing disputationi ne, mea ea nonumes percipitur. Nonumy ponderum oporteat cu mel, pro movet cetero at.</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <a href="{% url 'users:find-by-specialization' %}?specialization=GeneralPractitioner " class="box_cat_home">
                        <i class="icon-info-4"></i>
                        <img src="/static/html_menu_1/img/icon_cat_1.svg" width="60" height="60" alt="">
                        <h3>General Practitioner</h3>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="{% url 'users:find-by-specialization' %}?specialization=Cardiologist" class="box_cat_home">
                        <i class="icon-info-4"></i>
                        <img src="/static/html_menu_1/img/icon_cat_2.svg" width="60" height="60" alt="">
                        <h3>Cardiologist</h3>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="{% url 'users:find-by-specialization' %}?specialization=Ophthalmologist" class="box_cat_home">
                        <i class="icon-info-4"></i>
                        <img src="/static/html_menu_1/img/icon_cat_3.svg" width="60" height="60" alt="">
                        <h3>Ophthalmologist</h3>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="{% url 'users:find-by-specialization' %}?specialization=Dermatologist" class="box_cat_home">
                        <i class="icon-info-4"></i>
                        <img src="/static/html_menu_1/img/icon_cat_4.svg" width="60" height="60" alt="">
                        <h3>Dermatologist</h3>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="{% url 'users:find-by-specialization' %}?specialization=Ear-Nose-Throat" class="box_cat_home">
                        <i class="icon-info-4"></i>
                        <img src="/static/html_menu_1/img/icon_cat_7.svg" width="60" height="60" alt="">
                        <h3>Ear-Nose-Throat</h3>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="{% url 'users:find-by-specialization' %}?specialization=Dentist" class="box_cat_home">
                        <i class="icon-info-4"></i>
                        <img src="/static/html_menu_1/img/icon_cat_5.svg" width="60" height="60" alt="">
                        <h3>Dentist</h3>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="{% url 'users:find-by-specialization' %}?specialization=Paediatrist" class="box_cat_home">
                        <i class="icon-info-4"></i>
                        <img src="/static/html_menu_1/img/icon_cat_6.svg" width="60" height="60" alt="">
                        <h3>Paediatrist</h3>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="{% url 'users:find-by-specialization' %}?specialization=Psychologist" class="box_cat_home">
                        <i class="icon-info-4"></i>
                        <img src="/static/html_menu_1/img/icon_cat_8.svg" width="60" height="60" alt="">
                        <h3>Psychologist</h3>
                    </a>
                </div>
            </div>
            <!-- /row -->
            <p class="text-center"><a href="{% url 'users:all-specialization' %}" class="btn_1 medium">See All</a></p>
        </div>
        <!-- /container -->

        <div class="bg_color_1">
            <div class="container margin_120_95">
                <div class="main_title">
                    <h2>Most Viewed doctors</h2>
                    <p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri.</p>
                </div>
                <div id="reccomended" class="owl-carousel owl-theme">
                    <div class="item">
                        <a href="detail-page.html">
                            <div class="views"><i class="icon-eye-7"></i>140</div>
                            <div class="title">
                                <h4>Dr. Julia Holmes<em>Pediatrician - Cardiologist</em></h4>
                            </div><img src="http://via.placeholder.com/350x500.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="detail-page.html">
                            <div class="views"><i class="icon-eye-7"></i>120</div>
                            <div class="title">
                                <h4>Dr. Julia Holmes<em>Pediatrician</em></h4>
                            </div><img src="http://via.placeholder.com/350x500.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="detail-page.html">
                            <div class="views"><i class="icon-eye-7"></i>115</div>
                            <div class="title">
                                <h4>Dr. Julia Holmes<em>Pediatrician</em></h4>
                            </div><img src="http://via.placeholder.com/350x500.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="detail-page.html">
                            <div class="views"><i class="icon-eye-7"></i>98</div>
                            <div class="title">
                                <h4>Dr. Julia Holmes<em>Pediatrician</em></h4>
                            </div><img src="http://via.placeholder.com/350x500.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="detail-page.html">
                            <div class="views"><i class="icon-eye-7"></i>98</div>
                            <div class="title">
                                <h4>Dr. Julia Holmes<em>Pediatrician</em></h4>
                            </div><img src="http://via.placeholder.com/350x500.jpg" alt="">
                        </a>
                    </div>
                </div>
                <!-- /carousel -->
            </div>
            <!-- /container -->
        </div>
        <!-- /white_bg -->      
        
        <div class="container margin_120_95">
            <div class="main_title">
                <h2>Discover the <strong>online</strong> appointment!</h2>
                <p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie. Sed ad debet scaevola, ne mel.</p>
            </div>
            <div class="row add_bottom_30">
                <div class="col-lg-4">
                    <div class="box_feat" id="icon_1">
                        <span></span>
                        <h3>Find a Doctor</h3>
                        <p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box_feat" id="icon_2">
                        <span></span>
                        <h3>View profile</h3>
                        <p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box_feat" id="icon_3">
                        <h3>Book a visit</h3>
                        <p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie.</p>
                    </div>
                </div>
            </div>
            <!-- /row -->
            <p class="text-center"><a href="list.html" class="btn_1 medium">Find Doctor</a></p>
        </div>
        <!-- /container -->

        <div id="app_section">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-md-5">
                        <p><img src="/static/html_menu_1/img/app_img.svg" alt="" class="img-fluid" width="500" height="433"></p>
                    </div>
                    <div class="col-md-6">
                        <small>Application</small>
                        <h3>Download <strong>Findoctor App</strong> Now!</h3>
                        <p class="lead">Tota omittantur necessitatibus mei ei. Quo paulo perfecto eu, errem percipit ponderum no eos. Has eu mazim sensibus. Ad nonumes dissentiunt qui, ei menandri electram eos. Nam iisque consequuntur cu.</p>
                        <div class="app_buttons wow" data-wow-offset="100">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.1 85.9" style="enable-background:new 0 0 43.1 85.9;" xml:space="preserve">
                            <path stroke-linecap="round" stroke-linejoin="round" class="st0 draw-arrow" d="M11.3,2.5c-5.8,5-8.7,12.7-9,20.3s2,15.1,5.3,22c6.7,14,18,25.8,31.7,33.1" />
                            <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-1" d="M40.6,78.1C39,71.3,37.2,64.6,35.2,58" />
                            <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-2" d="M39.8,78.5c-7.2,1.7-14.3,3.3-21.5,4.9" />
                        </svg>
                            <a href="#0" class="fadeIn"><img src="/static/html_menu_1/img/apple_app.png" alt="" width="150" height="50" data-retina="true"></a>
                            <a href="#0" class="fadeIn"><img src="/static/html_menu_1/img/google_play_app.png" alt="" width="150" height="50" data-retina="true"></a>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /app_section -->
    </main>
    <!-- /main content -->
    
     <!--footer-->
    <!--/footer-->
  
    <!-- page -->

    <div id="toTop"></div>
    <!-- Back to top button -->

    
    <!-- SPECIFIC SCRIPTS -->
    <script src="/static/html_menu_1/js/modernizr.js"></script>
    <script src="/static/html_menu_1/js/video_header.js"></script>
    <script>
        let searchtype = 'All'
        var mysearchtype = '';

        'use strict';
        HeaderVideo.init({
            container: $('.header-video'),
            header: $('.header-video--media'),
            videoTrigger: $("#video-trigger"),
            autoPlayVideo: true
        });

        $('#mysuggestionsselect').hide().attr("autocomplete", "off");
        function searchKeyword(name) {
            let searchtype = $('#'+name).val(name);
            searchtype = name;
            mysearchtype = searchtype;
        }
        $('.search-query').keyup(function(){
            
            var query = $(this).val().toLowerCase();
            // var query = query.toLowerCase();
            if(mysearchtype == ""){
                mysearchtype = "All".toLowerCase();
            }
            var searchtype  = mysearchtype.toLowerCase();
            var obj = [];
              $.ajax({
                type: "POST",
                url: "/search-keyword/",
                data: {
                    'suggestion': query,
                    'searchtype': searchtype,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function(data){
                    $("#tbodyid").empty();
                    console.log(data);
                    $('#mysuggestionsselect').show();
                    $.each(data.suggestion, function(key,val) {
                        $("#mysuggestionsselect tbody").append(
                          "<tr class='trdata'>" +
                            "<td class='suggetionname'" + val.name + "</td>" +
                            "<td>" + val.specialization + "</td>" +
                          "</tr>"
                        );
                    });
                },

                failure: function(data){
                    console.log("FAIL");
                    console.log(data);
                },
            });
        });
    
    </script>
    <script type="text/javascript">
        $(document).on("click",".trdata",function(){
           
             var query =  $(".suggetionname").val()
                
        });
    </script>

{% endblock %}

