{% extends 'admin/admin_base.html' %}
  {% block content %}

 {% include 'admin/navigation.html' %}

  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Active Status Management</li>
      </ol>
        <div class="box_general">
            <div class="header_box">
                <h2 class="d-inline-block">Active Status List</h2>
            </div>
            <div class="list_general">
                <ul>
                    {% for active_user in users %}
                    <li class="profiles">
                        <input type="hidden" name="profile_id" id="profile_id" value="{{active_user.pk}}">
                        <figure><img src="/static/admin_section/img/avatar1.jpg" alt=""></figure>
                        <h4>
                            {{active_user.user.first_name}} {{active_user.user.last_name}}
                  {% if active_user.get_status_display == "Active" %}
                      <i class="approved">Active</i>
                  {% elif active_user.get_status_display == "Pending" %}
                      <i class="pending">Pending</i>
                  {% else %}
                      <i class="cancel">Deactive</i>
                  {% endif %}
                        </h4>
                        <ul class="booking_details">
                            <li><strong>Joined date</strong> {{active_user.created_at}}</li>
                            <li><strong>Service Type</strong> {{active_user.get_emergency_services_display}}</li>
                            <li><strong>Experience</strong> {{active_user.experience}}</li>
                            <li><strong>Telephone</strong> {{active_user.phone}}</li>
                            <li><strong>Email</strong> {{active_user.user.email}}</li>
                        </ul>
                    <ul class="buttons">
                        <li><a href="#0" class="btn_1 gray approve"><i class="fa fa-fw fa-check-circle-o"></i> Activate</a></li>
                      <li><a href="#0" class="btn_1 gray pending"><i class="fa fa-fw fa-times-circle-o"></i> Pending</a></li>
                      <li><a href="#0" class="btn_1 gray delete"><i class="fa fa-fw fa-times-circle-o"></i> Dectivate</a></li>
                    </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- /box_general-->
        <nav aria-label="...">
        {% if users.has_other_pages %}
          <ul class="pagination pagination-sm add_bottom_30">

            {% if users.has_previous %}
              <li>
                <a class="page-link" href="?page={{ users.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% else %}
              <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
            {% endif %}

            {% for i in users.paginator.page_range %}
              {% if users.number == i %}
                <li class="active page-item">
                    <a class="page-link" href="#">{{ i }}</a>
                </li>
              {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
              {% endif %}

            {% endfor %}

            {% if users.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ users.next_page_number }}">Next</a>
                </li>
            {% else %}
              <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            {% endif %}

          </ul>
        {% endif %}
        </nav>

    <!-- /pagination-->
      </div>
      <!-- /container-fluid-->
    </div>
    <!-- /container-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © FinDoctor 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
     {% block js %}
    <!-- Bootstrap core JavaScript-->
    <script src="/static/admin_section/vendor/jquery/jquery.min.js"></script>
    <script src="/static/admin_section/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/static/admin_section/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="/static/admin_section/vendor/chart.js/Chart.min.js"></script>
    <script src="/static/admin_section/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/static/admin_section/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="/static/admin_section/vendor/jquery.selectbox-0.2.js"></script>
    <script src="/static/admin_section/vendor/retina-replace.min.js"></script>
    <script src="/static/admin_section/vendor/jquery.magnific-popup.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/static/admin_section/js/admin.js"></script>

  {% endblock %}

  <script type="text/javascript">
    $(document).on("click", ".approve", function(e){
        e.preventDefault();
        profile_id = $(this).parents(".profiles").find("#profile_id").val();
        // Call Common Function here
        active_deactive_user(profile_id,"activate");
    });
  </script>

  <script type="text/javascript">
    $(document).on("click", ".delete", function(e){
        e.preventDefault();
        profile_id = $(this).parents(".profiles").find("#profile_id").val();
        // Call Common Function here
        active_deactive_user(profile_id,"deactivate");
    });
  </script>

  <script type="text/javascript">
    $(document).on("click", ".pending", function(e){
        e.preventDefault();
        profile_id = $(this).parents(".profiles").find("#profile_id").val();
        // Call Common Function here
        active_deactive_user(profile_id,"pending");
    });
  </script>
  
<script type="text/javascript">
function active_deactive_user(profile_id,action_is) {
    url = "/myadmin/activate_user/";
    $.ajax({
    type: "POST",
    url: url,
    headers:{
        "X-CSRFToken": '{{csrf_token}}' 
    },
    data: {
        "profile_id":profile_id,
        "action_is" :action_is,
    },
    success: function(res) {
            if(res.status == 200){
                alert(res.message)
                window.location.reload();
               }
            else{
                alert(res.message)
            }
        }
    });
}
</script>
{% endblock %}
