{% extends 'base.html' %}
{% load staticfiles %}
{% block stylesheet %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Find easily a doctor and book online an appointment">
    <meta name="author" content="Ansonika">

    <meta property="og:image" itemprop="image" content="{% static 'admin_section/img/doctor_demo.jpg' %}">
    <title>FINDOCTOR - Find easily a doctor and book online an appointment</title>
    <!-- Favicons-->
    <link rel="shortcut icon"  href="{% static 'html_menu_1/img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'html_menu_1/img/apple-touch-icon-57x57-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'html_menu_1/img/apple-touch-icon-72x72-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'html_menu_1/img/apple-touch-icon-114x114-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'html_menu_1/img/apple-touch-icon-144x144-precomposed.png' %}">
    
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="{% static 'html_menu_1/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'html_menu_1/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'html_menu_1/css/menu.css' %}" rel="stylesheet">
    <link href="{% static 'html_menu_1/css/vendors.css' %}" rel="stylesheet">
    <link href="{% static 'html_menu_1/css/icon_fonts/css/all_icons_min.css' %}" rel="stylesheet">
    
    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'html_menu_1/css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'effect.scss' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" rel="stylesheet">
{% endblock %}
{% block header %}
<header class="static">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div id="logo">
                    {% if request.user.is_authenticated == True %}
                    <a href="#" title="Findoctor"><img src="../../../static/html_menu_1/img/logo.png" data-retina="true" alt="" width="163" height="36"></a>
                    {%else%}
                    <a href="{% url 'users:home-1' %}" title="Findoctor"><img src="../../../static/html_menu_1/img/logo.png" data-retina="true" alt="" width="163" height="36"></a>
                    {% endif %}
                </div>
            </div>
            <nav class="col-lg-9 col-6">
                <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="#0"><span>Menu mobile</span></a>
                <div class="main-menu" style="top:0;">
                    <ul id="top_access">
                        <li class="submenu">                            
                            <a href="" class="show-submenu dashboard_header">

                                {% if request.user.profile.image %}
                                    <img src="{{ request.user.profile.image.url }}" data-retina="true" alt="" width="20" height="36" alt="">
                                {% elif request.user.profile.gender == 1 %}
                                        
                                    <img src="{% static 'html_menu_1/img/female_image.jpeg' %}" data-retina="true" alt="" width="20" height="36" alt="">
                                {% elif request.user.profile.gender == 0 %}      
                                    <img src="{% static 'html_menu_1/img/images.jpeg' %}" data-retina="true" alt="" width="20" height="36" alt="">
                                {% elif request.user.profile.custom_role  == 2 %}
                                    <img src="{% static 'html_menu_1/img/institute.png' %}" data-retina="true" alt="" width="20" height="36" alt="">
                                {% elif request.user.profile.custom_role  == 3 %} 
                                   <img src="{% static 'html_menu_1/img/emergency.jpeg' %}" data-retina="true" alt="" width="20" height="36" alt="">
                                {% else %}
                                    <img src="{% static 'html_menu_1/img/health-insurance.png' %}" data-retina="true" alt="" width="20" height="36" alt="">  {% endif %}       

                                    {% if request.user.is_authenticated %}
                                        {{ request.user.username }}
                                    {% endif %}
                            </a>
                            <ul class="mainmenu_list">
                                {% if request.user.is_authenticated %}
                                    <li><a href="{% url 'users:users-logout' %}">Logout</a></li>
                                {% else %}
                                    <li><a href="{% url 'users:registration-step1' %}">Login</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- <ul id="top_access">
                    <li id="user">
                        <a href="#0">
                            <figure><img src="http://via.placeholder.com/150x150.jpg" alt="">
                            </figure>
                            {{ request.user.username }}
                            
                        </a>
                    </li>
                </ul> -->
                <div class="main-menu">
                    <ul>
                        {% if request.user.is_authenticated == False %}
                            <li class="submenu">
                                <a href="{% url 'users:home-1' %}" class="show-submenu">Home</i></a>
                            </li>
                        {% endif %}
                        <li class="submenu">
                            <a href="#" class="show-submenu"></a>
                            
                        </li>
                        <li class="submenu">
                            <a href="#" class="show-submenu"></a> 
                        </li>
                        {% if request.user.is_authenticated and user.profile.custom_role == 1 %}

                            <li><a href="{% url 'users:profile-dashboard' request.user.profile.id %}"></a></li>  
                        {% endif %}

                        {% if request.user.is_authenticated and user.profile.custom_role == 2 %}

                            <li><a href="{% url 'users:institution-dashboard' request.user.profile.id %}"></a></li>
                        {% endif %}

                        {% if request.user.is_authenticated and user.profile.custom_role == 3 %}
                            <li><a href="{% url 'users:emergency-service-dashboard' request.user.profile.id %}"></a></li>
                        {% endif %}

                        {% if request.user.is_authenticated and user.profile.custom_role == 4 %}
                            <li><a href="{% url 'users:health-insurance-dashboard' request.user.profile.id %}"></a></li>
                        {% endif %}
                        
                    </ul>
                </div>
                <!-- /main-menu -->
            </nav>
        </div>
    </div>
        <!-- container -->
</header>
{% endblock %}

{% block content %}
    
{% endblock %}

{% block script %}
    <script src="{% static 'html_menu_1/js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'html_menu_1/js/common_scripts.min.js' %}"></script>
    <script src="{% static 'html_menu_1/js/functions.js' %}"></script>
{% endblock %}

{% block styles %}
   
{% endblock %}
{% block footer %}
    <footer>
        <div class="container margin_60_35">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <p>
                        <a href="{% url 'users:home-1' %}" title="Findoctor">
                            <img src="{% static 'html_menu_1/img/logo.png' %}" data-retina="true" alt="" width="163" height="36">
                        </a>
                    </p>
                </div>
                <div class="col-lg-3 col-md-4 mob_footer">
                    <h5>About</h5>
                    <ul class="links">
                         <li><a href="{% url 'users:about-1' %}">About us</a></li>
                        <li><a href="{% url 'users:blog-1' %}">Blog</a></li>
                        <li><a href="{% url 'users:faq-1' %}">FAQ</a></li>
                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'users:users-logout' %}">Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'users:registration-step1' %}">Login</a></li>
                            <li><a href="{% url 'users:registration-step1' %}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 mob_footer">
                    <h5>Useful links</h5>
                    <ul class="links">
                        <li><a href="{% url 'users:home-1' %}">Doctors</a></li>
                        <li><a href="{% url 'users:home-1' %}">Clinics</a></li>
                        <li><a href="{% url 'users:all-specialization' %}">Specialization</a></li>
                        <li><a href="{% url 'users:registration-step1' %}">Join as a Doctor</a></li>
                        <li><a href="#">Download App</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4">
                    <h5>Contact with Us</h5>
                    <ul class="contacts">
                        <li><a href="tel://61280932400"><i class="icon_mobile"></i> + 61 23 8093 3400</a></li>
                        <li><a href="mailto:info@findoctor.com"><i class="icon_mail_alt"></i> help@findoctor.com</a></li>
                    </ul>
                    <div class="follow_us">
                        <h5>Follow us</h5>
                        <ul>
                            <li><a href="#0"><i class="social_facebook"></i></a></li>
                            <li><a href="#0"><i class="social_twitter"></i></a></li>
                            <li><a href="#0"><i class="social_linkedin"></i></a></li>
                            <li><a href="#0"><i class="social_instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/row-->
            <hr>
            <div class="row">
                <div class="col-md-8">
                    <ul id="additional_links">
                        <li><a href="#0">Terms and conditions</a></li>
                        <li><a href="#0">Privacy</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div id="copy">© 2017 Findoctor</div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}